.base {
  width: 60px;
  height: 60px;
  color: #333;
  background: #fff;

  margin: 4px;
  border: 1px solid #c4c4c4;
  border-radius: 6px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.size1 {
  width: 60px;
}

.size1-15 {
  width: 69px;
}

.size1-25 {
  width: 75px;
}

.size1-5 {
  width: 90px;
}

.size1-75 {
  width: 105px;
}

.size2 {
  width: 120px;
}

.size2-25 {
  width: 135px;
}

.size2-75 {
  width: 165px;
}

.size6-25 {
  width: 375px;
}

.size7-25 {
  width: 435px;
}

.half {
  height: 30px;
  border-radius: 4px;
}

.pressed {
  background: lightskyblue;
}

.gap {
  width: 1px;
  height: 1px;
  margin-top: 60px;
  margin-right: 60px;
  background: none;
}
